<div class="col s3 m3">
  <div class="card lime accent-2">
    <div class="card-content black-text">
      <span class="card-title"><%= sticky.title %></span>
      <p><%= sticky.text %></p>
    </div>
    <div class="card-action">
      <p>参考リンク</p>
      <a href="#">This is a link</a>
    </div>
  </div>
</div>
